html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
	justify-content: center;
	text-align: center;
	align-items: center;
}

ul {
  list-style-type: none;  
  margin: 0; 
  padding: 0; 
}

li {
  display: inline-block;
  padding: 10px;
}

li button a {
	font-size: 40px;
}

#container {
	text-align: center;
}

#cont {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#txt {
	
	height: 1%;
	width: 7.75vw;
	right: 4vw
}

#submit {
	right: 4vw;
	height: 1%;
}


#quit {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	font-size: 15px;
	
}

.restart-btn {
	display: none;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	font-size: 15px;
}


.start-btn {
    display: block; 
    margin: 0 auto; 
    padding: 40px;
    font-family: Georgia, serif;
    font-size: 25px;
}


.display {
	position: relative;
	overflow: auto;
	height: 10vw;
	width: 16vw;
	color: white;
	background-color: black;
	white-space: pre-line;
	
}


